<!-- app/templates/student.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
</head>
{% import "bootstrap/wtf.html" as wtf %}
{% block body %}
<div class="content-section">
 <div class="outer">
    <div class="middle">
      <div class="inner">
        <div class="center">
            {% if add_student %}
                <h1>Add Student</h1>
            {% else %}
                <h1>Edit Student</h1>
            {% endif %}
            <br/>
            {{ wtf.quick_form(form) }}
            <br/>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
</html>
